@model IEnumerable<Semana02.Models.Productos>

@{
    ViewData["Title"] = "IndexProducto";
}

<h1>IndexProducto</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cod_prod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nom_prod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pre_prod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.skt_prod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_cad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cod_prod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nom_prod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pre_prod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.skt_prod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_cad)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
