@model IEnumerable<EC01.Models.Papeleta>

@{
    ViewData["Title"] = "PapeletasFechas";
}

<h1>PapeletasFechas</h1>
@using (Html.BeginForm())
{
    <div>
        Ingrese el primera Nropap: @Html.TextBox("data1")
        <br />
        Ingrese el segunda Nropap: @Html.TextBox("data2")
        <br />
        <button class="btn btn-success">Consultar</button>
        @Html.ActionLink("Regreas al Menu","Index","MenuChavezEC01",null, new {@class = "btn btn-warning"})
    </div>
}

<div class="alert alert-success">
    Cantidad de Registros: @ViewBag.cant_regis <br />
    Numero ultima papeleta: @ViewBag.ultima_papelt
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <thead>
        <tr>
            <th>
                    @Html.DisplayNameFor(model => model.Nropap)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Fechapap)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.NroplaNavigation.Nropla)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.CodpolNavigation.Nompol)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.CodpolNavigation.Patrullero)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Codinf)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Fechapago)
            </th>
            <th></th>
        </tr>
    </thead>    
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                        @Html.DisplayFor(modelItem => item.Nropap)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Fechapap)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.NroplaNavigation.Nropla)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.CodpolNavigation.Nompol)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.CodpolNavigation.Patrullero)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.CodinfNavigation.Codinf)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Fechapago)
                </td>
                <td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Nropap">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Nropap">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Nropap">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
